/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Common */
.pull-right {
  float: right !important;
}

.btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 20px;
  border: none;
  font-size: 15px;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.text-center {
  text-align: center !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 3);
}

.text-white {
  color: #fff !important;
}
/* 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
*/
/* 
    1. Vị trí
    2. Kích thước (width , height)
    3. Màu sắc
    4. Kiểu dáng 
*/

div#main {
  background-color: #fff;
}

/* HEADER */
div#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

ul.nav {
  display: inline-block;
}

ul.nav,
ul.subnav {
  list-style-type: none;
}

ul.nav > li {
  display: inline-block;
}
ul.nav li {
  position: relative;
}
ul.nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

ul.nav li a {
  line-height: 46px;
  padding: 0px 24px;
  display: block;
  text-decoration: none;
}

ul.nav ul.subnav li:hover a,
ul.nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}

ul.nav li:hover ul.subnav {
  display: block;
}

ul.nav li ul.subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 46px;
  left: 0;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

ul.nav ul.subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

div.nav i.nav-arrow-down {
  font-size: 12px;
}

div#header div.search-btn {
  float: right;
  padding: 0px 21px;
  cursor: pointer;
}
div#header div.search-btn:hover {
  background-color: #f44336;
}
div#header i.search-icon {
  font-size: 18px;
  color: #fff;
  line-height: 46px;
}
/* SLIDER */
div#slider {
  margin-top: 46px;
  padding-top: 50%;
  background-image: url("/assets/img/chicago.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div#slider div.text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

div#slider div.text-heading {
  font-weight: 500;
  font-size: 24px;
}

div#slider div.text-description {
  font-size: 15px;
  margin-top: 25px;
}
/* CONTENT */
/* div#content {
} */

div#content div.content-section {
  width: 800px;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
}

div.content-section h2.section-heading,
div.content-section p.section-subheading {
  text-align: center;
}

div.content-section h2.section-heading {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

div.content-section p.section-subheading {
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

div.content-section p.about-description {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}

div#content div.members-list {
  margin-top: 48px;
  overflow: hidden;
  margin-bottom: 32px;
}

p.member-name {
  font-size: 15px;
  margin-top: 15px;
}

img.member-avatar {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

div.tour-section {
  background-color: #000;
}

ul.tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style-type: none;
}

ul.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

ul.tickets-list li span.sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 6px;
  margin-left: 16px;
}

ul.tickets-list li span.quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-right: 16px;
  margin-top: -3px;
}

div.places-list {
  margin-top: 32px;
  overflow: hidden;
}

img.place-img {
  width: 100%;
  display: block;
}

img.place-img:hover {
  opacity: 0.6;
}

div.place-content {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

div.place-content h3.place-heading {
  font-size: 15px;
  font-weight: 500;
}
div.place-content p.place-time {
  margin-top: 15px;
  opacity: 0.7;
}
div.place-content p.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

/* css selector nang cao
  *= Thể hiện trong class có chứa chuỗi này
*/
.contact-info p i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.map-section img {
  width: 100%;
  height: 100%;
}
/* FOOTER */
#footer {
  padding: 64px 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#footer .socials-list {
  font-size: 24px;
}

#footer .socials-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.copyright a {
  color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-heading-icon {
  margin-right: 16px;
  display: block;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #ccc;
  color: #000;
}

.modal-body {
  padding: 16px;
}

.modal-body .modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-body .modal-input {
  font-size: 15px;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 24px;
}

#buy-tickets {
  background-color: #009688;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
}

#buy-tickets:hover {
  opacity: 0.9;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196f3;
}

.open {
  display: flex;
}
